@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Overpass+Mono:wght@300;400;500;600;700&display=swap");

html {
	--black: #000000;
	--white: #ffffff;
	--darkest: #101010;
	--darker: #16171a;
	--dark: #a3afbf;
	--medium: #dfe7ef;
	--light: #cad4e1;
	--lighter: #f5f8fc;
	--lightest: var(--white);
	--primary: #7b16ff;
	--primary-light: #ddd9ff;
	--primary-trans: rgba(123, 22, 255, 0.4);
	--yellow: #fdcb6e;
	--orange: #e17055;
	--teal: #00cec9;
	--bg: var(--darkest);
	--color: var(--lightest);
	--surface: var(--darker);
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background: var(--bg);
	color: var(--color);
	font-size: 1.6rem;
	font-family: "Overpass Mono", system-ui;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	font-family: "Oswald", system-ui;
}

a,
.link {
	color: var(--primary);
	text-decoration: none;
	transition: all 120ms ease-out 0s;
	display: inline-block;
	border-radius: 0.4rem;
}
a:hover,
.link:hover {
	background: var(--primary-trans);
	color: var(--primary-light);
	/* box-shadow: 0px 0px 0px 0.4rem var(--primary-trans); */
	outline: 2px solid var(--primary-trans);
}

button,
textarea,
input,
select {
	font-family: inherit;
	color: inherit;
}
button:active,
button:focus,
textarea:active,
textarea:focus,
input:active,
input:focus,
select:active,
select:focus {
	outline: 0;
}

button,
select {
	cursor: pointer;
}

.l-wrapper {
	width: 100%;
	max-width: 960px;
	margin: auto;
	padding: 1.6rem 1.6rem 3.2rem;
}

.l-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 1.6rem;
	grid-row-gap: 1.6rem;
	position: relative;
}
@media screen and (max-width: 700px) {
	.l-grid {
		grid-template-columns: 1fr;
	}
}

.c-header {
	padding: 1.6rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2.4rem;
	position: relative;
}
.c-header:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 0.2rem;
	background: var(--primary-trans);
}

.c-card {
	border-radius: 0.8rem;
	background: var(--surface);
	width: 100%;
	margin-bottom: 1.6rem;
	outline: 2px solid rgba(255, 255, 255, 0.12);
	/* box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.12); */
}
.c-card__body,
.c-card__header {
	padding: 2.4rem;
}
@media screen and (max-width: 700px) {
	.c-card__body,
	.c-card__header {
		padding: 1.2rem;
	}
}
.c-card__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 0;
}
@media screen and (max-width: 700px) {
	.c-card__header {
		flex-direction: column;
	}
}

@media screen and (max-width: 700px) {
	.c-place {
		transform: translateY(4px);
	}
}

.c-logo {
	display: inline-block;
	/* width: 100%; */
	max-width: 17.6rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	object-fit: contain;
	border-radius: 14px;
}

.c-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.c-list__item {
	padding: 1.6rem 0;
}
.c-list__item .c-flag {
	margin-top: 0.8rem;
}
@media screen and (max-width: 700px) {
	.c-list__item .c-flag {
		margin-top: 0.4rem;
	}
}
.c-list__grid {
	display: grid;
	grid-template-columns: 4.8rem 3fr 1fr;
	grid-column-gap: 2.4rem;
}
@media screen and (max-width: 700px) {
	.c-list__grid {
		grid-template-columns: 3.2rem 3fr 1fr;
		grid-column-gap: 0.8rem;
	}
}

.c-media {
	display: inline-flex;
	align-items: center;
}
.c-media__content {
	padding-left: 1.6rem;
}
@media screen and (max-width: 700px) {
	.c-media__content {
		padding-left: 0.8rem;
	}
}
.c-media__title {
	margin-bottom: 0.4rem;
}
@media screen and (max-width: 700px) {
	.c-media__title {
		font-size: 1.4rem;
	}
}

.c-avatar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 4.8rem;
	height: 4.8rem;
	/* box-shadow: inset 0px 0px 0px 1px currentColor; */
	outline: 2px solid currentColor;
	border-radius: 5px;
	background: var(--lightest);
	color: var(--dark);
	object-fit: cover;
}
.c-location-image {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	/* height: 4.8rem; */
	border-radius: 5px;
	color: var(--dark);
	object-fit: cover;
}
@media screen and (max-width: 700px) {
	.c-avatar {
		width: 3.2rem;
		height: 3.2rem;
	}
}
.c-avatar--lg {
	width: 9.6rem;
	height: 9.6rem;
}

.c-button {
	display: inline-block;
	background: var(--dark);
	border: 0;
	border-radius: 0.4rem;
	padding: 1.2rem 2rem;
	transition: all 120ms ease-out 0s;
}
.c-button--block {
	display: block;
	width: 100%;
}
.c-button:hover,
.c-button:focus {
	filter: brightness(0.9);
}
.c-button:focus {
	/* box-shadow: 0px 0px 0px 0.4rem var(--primary-trans); */
	outline: 2px solid var(--primary-trans);
}
.c-button:active {
	/* box-shadow: 0px 0px 0px 0.4rem var(--primary-trans),
		inset 0px 0px 0.8rem rgba(0, 0, 0, 0.2); */
	filter: brightness(0.8);
	outline: 2px solid var(--primary-trans);
}

.c-select {
	background: transparent;
	padding: 1.2rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1.4rem;
	border-color: rgba(255, 255, 255, 0.2);
	transition: all 120ms ease-out 0s;
	border-radius: 5px;
}
.c-select:hover {
	background: var(--darkest);
}

.c-flag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 3.2rem;
	height: 3.2rem;
	background: var(--lightest);
	color: var(--dark);
	border-radius: 0.4rem;
}
@media screen and (max-width: 700px) {
	.c-flag {
		width: 2.4rem;
		height: 2.4rem;
	}
}

.c-button--light {
	background: var(--lightest);
}

.c-button--primary {
	background: var(--primary);
}

.c-button--dark {
	background: var(--darkest);
}

.c-button--transparent {
	background: transparent;
}

.c-button--medium {
	background: var(--medium);
}

.c-button--yellow {
	background: var(--yellow);
}

.c-button--orange {
	background: var(--orange);
}

.c-button--teal {
	background: var(--teal);
}

.c-button--light-gradient {
	background: linear-gradient(to top, var(--light), var(--lightest));
}

.u-text--title {
	font-family: "Oswald", system-ui;
}

.u-text--left {
	text-align: left;
}
.u-text--center {
	text-align: center;
}
.u-text--right {
	text-align: right;
}

.u-bg--light {
	background: var(--lightest) !important;
}

.u-text--light {
	color: var(--lightest) !important;
}

.u-bg--primary {
	background: var(--primary) !important;
}

.u-text--primary {
	color: var(--primary) !important;
}

.u-bg--dark {
	background: var(--darkest) !important;
}

.u-text--dark {
	color: var(--darkest) !important;
}

.u-bg--transparent {
	background: transparent !important;
}

.u-text--transparent {
	color: transparent !important;
}

.u-bg--medium {
	background: var(--medium) !important;
}

.u-text--medium {
	color: var(--medium) !important;
}

.u-bg--yellow {
	background: var(--yellow) !important;
}

.u-text--yellow {
	color: var(--yellow) !important;
}

.u-bg--orange {
	background: var(--orange) !important;
}

.u-text--orange {
	color: var(--orange) !important;
}

.u-bg--teal {
	background: var(--teal) !important;
}

.u-text--teal {
	color: var(--teal) !important;
}

.u-bg--light-gradient {
	background: linear-gradient(to top, var(--light), var(--lightest)) !important;
}

.u-text--light-gradient {
	color: linear-gradient(to top, var(--light), var(--lightest)) !important;
}

.u-display--flex {
	display: flex;
}

.u-align--center {
	align-items: center;
}

.u-justify--center {
	justify-content: center;
}

.u-align--flex-end {
	align-items: flex-end;
}

.u-justify--flex-end {
	justify-content: flex-end;
}

.u-align--flex-start {
	align-items: flex-start;
}

.u-justify--flex-start {
	justify-content: flex-start;
}

.u-align--space-between {
	align-items: space-between;
}

.u-justify--space-between {
	justify-content: space-between;
}

.u-text--small {
	font-size: 1.4rem;
}

.u-pl--2 {
	padding-left: 0.2rem;
}

.u-ml--2 {
	margin-left: 0.2rem;
}

.u-pr--2 {
	padding-right: 0.2rem;
}

.u-mr--2 {
	margin-right: 0.2rem;
}

.u-pb--2 {
	padding-bottom: 0.2rem;
}

.u-mb--2 {
	margin-bottom: 0.2rem;
}

.u-pt--2 {
	padding-top: 0.2rem;
}

.u-mt--2 {
	margin-top: 0.2rem;
}

.u-pl--4 {
	padding-left: 0.4rem;
}

.u-ml--4 {
	margin-left: 0.4rem;
}

.u-pr--4 {
	padding-right: 0.4rem;
}

.u-mr--4 {
	margin-right: 0.4rem;
}

.u-pb--4 {
	padding-bottom: 0.4rem;
}

.u-mb--4 {
	margin-bottom: 0.4rem;
}

.u-pt--4 {
	padding-top: 0.4rem;
}

.u-mt--4 {
	margin-top: 0.4rem;
}

.u-pl--8 {
	padding-left: 0.8rem;
}

.u-ml--8 {
	margin-left: 0.8rem;
}

.u-pr--8 {
	padding-right: 0.8rem;
}

.u-mr--8 {
	margin-right: 0.8rem;
}

.u-pb--8 {
	padding-bottom: 0.8rem;
}

.u-mb--8 {
	margin-bottom: 0.8rem;
}

.u-pt--8 {
	padding-top: 0.8rem;
}

.u-mt--8 {
	margin-top: 0.8rem;
}

.u-pl--16 {
	padding-left: 1.6rem;
}

.u-ml--16 {
	margin-left: 1.6rem;
}

.u-pr--16 {
	padding-right: 1.6rem;
}

.u-mr--16 {
	margin-right: 1.6rem;
}

.u-pb--16 {
	padding-bottom: 1.6rem;
}

.u-mb--16 {
	margin-bottom: 1.6rem;
}

.u-pt--16 {
	padding-top: 1.6rem;
}

.u-mt--16 {
	margin-top: 1.6rem;
}

.u-pl--24 {
	padding-left: 2.4rem;
}

.u-ml--24 {
	margin-left: 2.4rem;
}

.u-pr--24 {
	padding-right: 2.4rem;
}

.u-mr--24 {
	margin-right: 2.4rem;
}

.u-pb--24 {
	padding-bottom: 2.4rem;
}

.u-mb--24 {
	margin-bottom: 2.4rem;
}

.u-pt--24 {
	padding-top: 2.4rem;
}

.u-mt--24 {
	margin-top: 2.4rem;
}

.u-pl--32 {
	padding-left: 3.2rem;
}

.u-ml--32 {
	margin-left: 3.2rem;
}

.u-pr--32 {
	padding-right: 3.2rem;
}

.u-mr--32 {
	margin-right: 3.2rem;
}

.u-pb--32 {
	padding-bottom: 3.2rem;
}

.u-mb--32 {
	margin-bottom: 3.2rem;
}

.u-pt--32 {
	padding-top: 3.2rem;
}

.u-mt--32 {
	margin-top: 3.2rem;
}

::-webkit-scrollbar {
	width: 18px;
}

::-webkit-scrollbar-track {
	background: transparent;
	background-color: #0a0f14;
}

::-webkit-scrollbar-thumb {
	background-color: #9e9e9e3f;
	border-radius: 10px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	border: 5px solid transparent;
	background-color: #9e9e9e67;
}

::-webkit-scrollbar-thumb:active {
	border: 5px solid transparent;
	background-color: #9e9e9e8c;
}

::-webkit-scrollbar-corner {
	background-color: #0a0f14;
}
