@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	--black: #000000;
	--white: #ffffff;
	--darkest: #101010;
	--darker: #16171a;
	--dark: #a3afbf;
	--medium: #dfe7ef;
	--light: #cad4e1;
	--lighter: #f5f8fc;
	--lightest: var(--white);
	--primary: #7b16ff;
	--primary-light: #ddd9ff;
	--primary-trans: rgba(123, 22, 255, 0.4);
	--yellow: #fdcb6e;
	--orange: #e17055;
	--teal: #00cec9;
	--bg: var(--darkest);
	--color: var(--lightest);
	--surface: var(--darker);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	/* margin-top: 0.8rem;
	margin-bottom: 0.8rem; */
	font-family: "Oswald", system-ui;
}

@layer base {
	:root {
		--black: #000000;
		--white: #ffffff;
		--darkest: #101010;
		--darker: #16171a;
		--dark: #a3afbf;
		--medium: #dfe7ef;
		--light: #cad4e1;
		--lighter: #f5f8fc;
		--lightest: var(--white);
		--primary: #7b16ff;
		--primary-light: #ddd9ff;
		--primary-trans: rgba(123, 22, 255, 0.4);
		--yellow: #fdcb6e;
		--orange: #e17055;
		--teal: #00cec9;
		--bg: var(--darkest);
		--color: var(--lightest);
		--surface: var(--darker);
	}
}
html {
	color-scheme: dark;
}

body {
	background: var(--bg);
	color: var(--color);
	font-family: "Overpass Mono", system-ui;
}

.u-bg--light-gradient {
	background: linear-gradient(to top, var(--light), var(--lightest)) !important;
}
