:root {
  box-sizing: border-box;
}
.react-tabs {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 0px 15px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
.header {
  display: flex;
  align-self: center;
  color: black;
  height: 10vh;
}
.root-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: black;
}

.table {
  width: 100%;
}
th,
td {
  text-align: center;
}

.location-list-ul {
  padding: 0;

  list-style-type: none;
}

.location-list-div {
  list-style-type: none;
  overflow-y: scroll;
  width: 30vw;
  max-height: 90vh;
}
.location-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.location-item-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
h4 {
  padding: 0px;
  margin: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.results-table {
  width: 70vw;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
